---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---

{% include base_path %}

{% for post in site.teaching reversed %}
  <div class="archive__item">
    <h2 class="archive__item-title">
      <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
    </h2>

    <p class="archive__item-excerpt">
      {{ post.type }}, <em>{{ post.venue }}</em>
      {% if post.semester %}
        , {{ post.semester }}
      {% elsif post.date %}
        , {{ post.date | date: "%Y" }}
      {% endif %}
    </p>
  </div>
{% endfor %}